@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.containerLanding {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 540px) {
  .containerLanding {
    max-width: 540px;
  }
}

@media (min-width: 720px) {
  .containerLanding {
    max-width: 720px;
  }
}

@media (min-width: 960px) {
  .containerLanding {
    max-width: 960px;
  }
}

@media (min-width: 1140px) {
  .containerLanding {
    max-width: 1140px;
  }
}

@media (min-width: 1320px) {
  .containerLanding {
    max-width: 1320px;
  }
}

.primaryLanding {
  --tw-bg-opacity: 1;
  background-color: rgb(9, 12, 15);
}

.primaryLanding\/5 {
  background-color: rgb(55 88 249 / 0.05);
}

.primaryLanding\/\[0\.08\] {
  background-color: rgb(55 88 249 / 0.08);
}

.placeholder\:text-body-color\/60::-moz-placeholder {
  color: rgb(99 115 129 / 0.6);
}

.placeholder\:text-body-color\/60::placeholder {
  color: rgb(99 115 129 / 0.6);
}

.bg-secondaryLanding {
  --tw-bg-opacity: 1;
  background-color: rgb(19 194 150 / var(--tw-bg-opacity));
}

.hover\:primaryLanding:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(55 88 249 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-darkk:hover {
  --tw-text-opacity: 1;
  color: rgb(17 25 40 / var(--tw-text-opacity));
}
.bg-darkLanding {
  --tw-bg-opacity: 1;
  background-color: rgb(12, 17, 49);
}

:is(.dark .dark\:bg-darkLanding) {
  --tw-bg-opacity: 1;
  background-color: rgb(17 25 40 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-darkLanding-2) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 42 55 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-darkLanding-3) {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-darkLanding-700) {
  background-color: #090e34b3;
}

:is(.dark .dark\:lg\:bg-transparent) {
  background-color: transparent;
}
