.content {
  opacity: 1;
  /* Set to a large enough value */
}

.content.hidden {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}
.pp {
  font-size: 16px;
  color: #54e4cb;
  /* border: 1px solid lightgray; */
  padding: 3px;
  border-radius: 3px;
  /* opacity: 0.7; */
}
.lblColor {
  color: #4dd4bf;
}
.EditB {
  margin-top: 20px;
}
.FontSizeI {
  font-size: 13px;
  margin-top: -5px;
}
.FontSizeG {
  font-size: 13px;
  margin-top: -5px;
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.FontSizeV {
  font-size: 11px;
}
.BorderIwant {
  border: 1px solid rgb(75 85 99 / var(--tw-border-opacity)) !important;
  height: 45px;
}
.IN {
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin-top: 5px;
  display: block;
}
