.asrun-matching-container {
  background: #1f2937;
}

.tag {
  padding: 0.5rem;
}

.steps-item-active .step-clickable .step-item-title {
  border: none;
  background: transparent;
}

.dark .calendar .fc .fc-cell-shaded,
.dark .calendar .fc .fc-day-disabled {
  background-color: rgb(17 24 39) /*bg-gray-900*/;
  opacity: 0.8;
}

.p-datatable.p-datatable-selectable
  .p-datatable-tbody
  > tr.p-selectable-row:not(.p-highlight):not(.p-datatable-emptymessage):hover {
  background-color: rgb(75 85 99) !important;
}
