@import url('https://fonts.googleapis.com/css?family=Roboto');
.pppp {
    font-family: 'Roboto';
    font-weight:bolder;
  }
  .pkk {
    font-family: 'Roboto';
    font-weight: 400;
    color: #ABABAB;
  }