@import url('https://fonts.googleapis.com/css?family=Roboto');

.root-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.root-container > :first-child {
  flex-grow: 1;
}

.table {
  height: 100%;
}
/* Set a specific width for each header cell */
.th {
  min-width: 150px; /* Adjust this width as needed */
}

.pppp {
  font-family: 'Roboto';
  font-weight: bolder;
}
/* Style the "Sr." header cell to make it shorter */
.srno {
  width: 7%;
  /* border: 0.1px solid #6a6a6a; */
  /* color: white; */
}
.actions {
  width: 15%;
}
.ht {
  background-color: #191f31;
  height: 40px;
}
/* Style the body of the table */
.tbody {
  display: block;
  overflow-y: auto;
  height: 100%;
}

/* Style table rows */
.tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  color: whitesmoke;
}
/* Style table rows */
.tr3 {
  display: table;
  width: 100%;
  table-layout: fixed;
  color: whitesmoke;
  height: 34px;
}

/* Style table cells */
.td {
  padding: 0.25rem 12px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: whitesmoke;
  border: 0.05px solid #4b5563;
}
.Light {
  color: black;
}
.tdLight {
  padding: 0.25rem 12px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  border: 0.05px solid #e5e7eb;
}

.td3 {
  padding: 0.25rem 12px !important;
  border-bottom: 0.1px solid #6a6a6a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: whitesmoke;
}
.td4 {
  padding: 0.25rem 5px !important;
  border-bottom: 0.1px solid #6a6a6a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: whitesmoke;
}
.td3 .capitalize {
  font-size: 12px;
  font-weight: 600;
  color: #ffffffe0;
  letter-spacing: 0.2px;
}
.ht .capitalize {
  font-size: 14px;
  font-weight: 600;
  color: #ffffffe0;
  letter-spacing: 0.2px;
}
.td2 {
  text-align: left;
  padding: 3px;
  border: 0.1px solid #6a6a6a;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed text */
  text-overflow: ellipsis; /* Add ellipsis (...) for long text */
  color: black;
}
/* Center text in the "Actions" column */
.actions {
  text-align: left;
}

/* Style the scrollbar for the body */
/* .tbody::-webkit-scrollbar { */
/* width: 0px; Adjust the width of the scrollbar as needed */
/* } */

/* .tbody::-webkit-scrollbar-thumb { */
/* background-color: #d8d7d7; Customize the scrollbar thumb color */
/* } */
.btnEdit {
  border: none;
}

.border_class {
  border: 1px solid #494949;
}

.selectedrow {
  background-color: rgb(121, 128, 131);
  color: rgb(21, 21, 21);
}

.bottom-actions-container {
  margin-top: 0.5rem;
}
/* DisplaytablewithEdit.css */
.custom-paginator .p-paginator {
  background-color: #f0f0f0; /* Background color for pagination */
  color: #333; /* Text color */
}

.custom-paginator .p-paginator .p-paginator-pages .p-paginator-page,
.custom-paginator .p-paginator .p-paginator-prev,
.custom-paginator .p-paginator .p-paginator-next {
  background-color: #4caf50; /* Background color for page numbers */
  color: white; /* Text color for page numbers */
  border: none;
  border-radius: 4px;
  margin: 0 2px;
  cursor: pointer;
}

.custom-paginator
  .p-paginator
  .p-paginator-pages
  .p-paginator-page.p-highlight {
  background-color: #ff5722; /* Active page background color */
  color: white; /* Active page text color */
}

.custom-paginator .p-paginator .p-paginator-pages .p-paginator-page:hover {
  background-color: #388e3c; /* Hover background color */
}
