/* styles.css */

/* Dark mode styles */

.dark .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: rgb(31 41 55 / var(--tw-bg-opacity));
  color: #ffffff;
}

.dark .p-tabview .p-tabview-nav {
  background: rgb(31 41 55 / var(--tw-bg-opacity));
  color: #ffffff;
}

.dark .p-tabview-panels {
  background: rgb(31 41 55 / var(--tw-bg-opacity));
  color: #ffffff;
}

.dark .form-label {
  color: #ffffff;
}

.dark .p-datatable .p-datatable-tbody > tr {
  color: #ffffff;
}

.dark .select .select__single-value {
  color: #ffffff;
}

.dark .select__menu {
  color: #ffffff;
}

.dark .text-black {
  color: inherit;
}

.dark .p-inputtext {
  background: inherit;
  /* color: #ffffff; */
}

.dark .p-treeselect {
  background: inherit;
  color: #ffffff;
}

.dark .p-panel-content {
  background-color: inherit;
  color: #ffffff;
}

.dark .p-panel-header {
  background-color: inherit;
  color: #ffffff;
}

.dark .p-panel-footer {
  background-color: inherit;
}

/* .dark .p-button{
 border : 4.2px solid #4dd4bf;
} */

/* .dark .p-button:enabled:hover,
.p-button:not(button):not(a):not(.p-disabled):hover {
    background-color: #3b8479;
    border: 2.9px solid #1f1f1f;
} */

.dark .p-datatable-table .p-datatable-scrollable-table {
  background-color: inherit;
}

.dark .p-datatable .p-datatable-thead > tr > th {
  background-color: #374151;
  color: rgb(243 244 246 / var(--tw-text-opacity));
  font-size: 0.75rem;
  text-transform: capitalize;
  line-height: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  padding: 5px 0.5rem;
}

.dark .p-datatable .p-datatable-tbody > tr.p-highlight {
  background-color: inherit;
  color: #ffffff;
}

.dark .themefontcolor {
  color: rgb(0, 228, 203);
}

.dark .p-dialog .p-dialog-header {
  background-color: #1f2937;
  color: #ffffff;
}

/* .dark .p-dialog .p-dialog-content {
  background-color: #1f2937;
  color: #ffffff;
} */
.dark .p-dialog .p-dialog-footer {
  background-color: #1f2937;
  color: #ffffff;
}

/* scrollbar */
/* global-styles.css .p-dialog  */

/* Example scrollbar styling */

/* Auto-hide scrollbar */
/* * {
  scrollbar-width: thin;

  scrollbar-color: red white;
  transition: scrollbar-color 0.5s;
} */
*:hover {
  scrollbar-color: transparent;
}

.css-9ozjte-Input input {
  color: white !important;
}
.overflow-x-auto {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgb(75 69 69 / 71%);
}
::-webkit-scrollbar-track {
  background-color: rgb(46 57 73 / 71%);
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff26;
  border-radius: 10px;
}
.thumb-horizontal {
  background-color: #a3a29d61;
  width: 100%;
  left: 0px;
  border-radius: 10px;
  bottom: 5px;
  height: 8px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Full Calendar Customizations */
/* Monthly Calendar Styles */
.fc-theme-standard .fc-popover {
  background-color: rgb(31 41 55) !important; /*bg-gray-800*/
  box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.2) !important;
  border: none !important;
  border-radius: 0.375rem;
}

.fc-theme-standard .fc-popover-header {
  background-color: rgb(55 65 81) !important /*bg-gray-700*/;
  color: white;
  padding: 0.5rem 0.4rem !important;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.fc .fc-more-popover .fc-popover-body {
  padding: 10px 4px !important;
}

.fc-popover-title {
  font-weight: 600;
}

.fc-popover-body
  .fc-daygrid-event-harness
  .fc-daygrid-event
  .custom-calendar-event
  .event-name {
  font-weight: 500 !important;
}

.fc .fc-daygrid-day.fc-day-today {
  height: 0;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgb(0 118 214 / 40%) !important;
}

/* Weekly Calendar Styles*/
.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  box-shadow: 0px 0px 0px 0px var(--fc-page-bg-color, #fff) !important;
}

.fc .fc-timegrid-col.fc-day-today {
  background-color: rgb(0 118 214 / 10%) !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
